<%- include("partials/header") -%>

<div class="container p-5 text-center">
    <h1>Product Cart - RST API</h1>
    <hr>
    <a href="/register" class="btn btn-dark">Register</a>
    <a href="/login" class="btn btn-success ms-4">Login</a>
</div>

<%- include("partials/footer") -%>